large_data/
__pycache__/
rwpropa/__pycache__/
.ipynb_checkpoints
rwpropa/tutorials/.ipynb_checkpoints
/comparison/data/
**/comparison/data/
/comparison/figures/
/comparison/uhecrs/
/comparison/crs/
/comparison/compact_sources/
/comparison/compact_sources_short/
